body {

    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.titulo {
    font-size: 90px;
    text-align: center;
    margin-top: 20px;
    margin-right: 4%;

}

* {
    margin: 0px;
}

.texto {
    justify-content: center;
    display: flex;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.comeco {
    display: flex;
    gap: 22%;
}

.feedback {
    font-size: 70px;

}

.cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
}
.pressionado {
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0px;
    display: inline-block;
    transition: all.2s;
    position: relative;
    padding: 10px 15px;
    position: relative;
    top: 0;
    cursor: pointer;
    margin: 0px;
    margin-right: 0%;
}

.pressionado:active {
    top: 3px;
    box-shadow: 0 2px 0px;
    transition: all .2s;

}

.botoes {
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
    color: black;


}

input[type="text"] {
    height: 30px;
    width: 250px;
    margin-top: 15px;
}

.rodape {
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 5px
}



footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.apertado {
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0px gray;
    display: inline-block;
    transition: all.2s;
    position: relative;
    padding: 10px 15px;
    position: relative;
    top: 0;
    cursor: pointer;
    margin: 0px;
    margin-right: 1%;
}

.apertado:active {
    top: 3px;
    box-shadow: 0 2px 0px #387796;
    transition: all .2s;

}

.enviar {
    font-size: 20px;
    width: fit-content;
    color: white;
    text-decoration: none;

}

.estrelas {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    border: ridge 10px;
    border-color: black;
    margin-top: 3%;
    padding: 2%;
}

.estrelinha {
    display: flex;
    margin-right: 20px;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 70px;
    /*alterar o tamanho das estrelas*/
    width: 70px;
}

.star-icon::before {
    content: "\2605";
    /*cor cheia*/
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
    /*cor vazia*/
    color: #efe05d;
}

.estrelinha:hover .star-icon::before {
    content: "\2605";
    /*cor cheia*/
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
    /*cor vazia*/
    color: #efe05d;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .logo {
    position: absolute;
    left: 0;
    top: 30px;
} */
/* body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
} */

@media(max-width:600px) {
    footer {
        background-color: black;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        position: relative;
        bottom: 0px;
        width: 100%;
    }

    .faixa {
        font-size: 70px;
        margin-top: 140px;

    }

    main {
        margin: 0px;
    }

    .cabecario {
        display: flex;
        justify-content: space-around;
        background-color: black;
        padding: 0px;
        width: 100%;

    }

    .estrelas {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        border-color: black;
        margin-top: 0px;
    }

    .titulo {

        display: flex;
        font-size: 40px;
        margin-top: 1%;

    }

    .logo {
        width: 110px;
        height: 110px;
    }

    .botoes {
        font-size: 13px;
    }

    .comeco {
        gap: 5%
    }
    .feedback{
        font-size: 40px;
    }
    .star-icon{
        font-size: 45px;
        width: 45px;
    }
    .texto{
        font-size: 30px;
    }
}