.titulo {
    font-size: 90px;
    text-align: center;
    margin-top: 20px;


}

.conteudo {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;

}
.pressionado{
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0px;
    display: inline-block;
    transition: all.2s;
    position: relative;
    padding: 10px 15px;
    position: relative;
    top:0;
    cursor: pointer;
    margin: 0px;
    margin-right: 0%;
}
.pressionado:active {
    top:3px;
    box-shadow: 0 2px 0px;
    transition: all .2s;

}

body {
    background-image: url("./fundo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fotos {
    max-width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px;
}

.paragrafo {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
}

.legenda {
    font-size: 30px;
}

* {
    margin: 0px;
}

h2 {
    font-size: 50px;
    margin-left: 3%;
}

.tudo {
    display: flex;
    grid-template-columns: 850px 370px;
    gap:10%;
    margin-left: 3%;
    align-items: center;
}

.imagem-1 {
    display: flex;
    gap: 15%;

}

.imagens-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comidas {
    border-radius: 30px 30px;
    margin-bottom: 5%;
    border:solid 5px;
    border-color: orangered;

}

.cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
}

.botoes {
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
    color: black;

}

.opcoes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    padding: 0px;
}

.botoes-baixo {
    font-size: 40px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
}





.comeco {
    display: flex;
    gap: 27%;
}

.pontos {
    overflow: hidden;
    white-space: nowrap;
}

.rodape {
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 5px
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    position: relative;
    bottom: 0px;
    width: 100%;
}

@media(max-width:600px) {
    .opcoes {

        display: flex;
        flex-direction: column;
        align-items: cent;
        margin-top: 0px;
        padding: 0px;
    }

    .botoes-baixo {
        font-size: 40px;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
        margin-bottom: 0px;
        color: black;
    }

    .tudo {
        display: flex;
        flex-direction: column-reverse;

    }

    .paragrafo {

        width: 100%;
    }

    .conteudo {
        font-size: 1rem;
    }

    footer {
        background-color: black;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        position: relative;
        bottom: 0px;
        width: 100%;
    }

    .cabecario {
        display: flex;
        justify-content: space-around;
        background-color: black;
        padding: 0px;
        width: 100%;
    }

    .comeco {
        display: flex;
        gap: 10%;
    }
    .botoes{
        font-size: 13px;
    }
    .logo{
        width: 100px;
        height: 100px;
        
    }
    .titulo{
        font-size: 40px;
    
    }
    .comidas{
        width: 110px;
        height: 110px;
    }
    .legenda{
        font-size: 15px;
    }
    .botoes-baixo{
        font-size: 20px;
    }
    h2{
        font-size: 30px;
    }
    .rodape{
        font-size: 10px;
    }
}