* {
    margin: 0px;
}

body {
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

h1 {
    font-size: 70px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

p {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.redes_sociais {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    padding-top: 40px;
}

.cabecario{
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding: 10px;
}

.botoes{
    font-size: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.contato{
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.rodape{
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    padding:5px
}
footer{
    background-color:black;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
@media(max-width:600px){
    footer{
    background-color:black;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: relative;
    bottom: 0px;
    margin-top: 10px;
    width: 120%;
}
.redes_sociais {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap:30px
}
.cabecario{
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding: 0px;
    width: 120%;
}
}