* {
    margin: 0px;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

.preenchimento {
    display: flex;
    padding-top: 70px;
    justify-content: space-evenly;
    margin-left: 150px;


}

p {
    font-size: 30px;
    border-radius: 10px;
    padding-right: 150px;
}

.cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
}

.botoes {
    font-size: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    color: black;

}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.rodape {
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;

}

body {

    background-image: url("./fundo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

input[type="text"] {
    height: 25px;

}

a {
    text-decoration: none;


}

.pesquisa {
    display: flex;
    flex-direction: column;
}

@media(max-width:600px) {
    .preenchimento {
        display: flex;
        padding-top: 70px;
        flex-direction: column;
        margin-left: 150px;


    }

    footer {
        background-color: black;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        position: relative;
        bottom: 0px;
        width: 120%;
        top: 1rem;
    }

    h1 {
        font-size: 50px;
    }
    .cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0px;
    width: 120%;
}
}