* {
    margin: 0px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

.preenchimento {
    display: flex;
    padding-top: 70px;
    justify-content: center;
    gap: 25%;
    /* margin-left: 150px; */


}
.apertado{
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0px gray;
    display: inline-block;
    transition: all.2s;
    position: relative;
    padding: 10px 15px;
    position: relative;
    top:0;
    cursor: pointer;
    margin: 0px;
    margin-right: 0%;
    margin-bottom: 70px;
}
.apertado:active {
    top:3px;
    box-shadow: 0 2px 0px;
    transition: all .2s;

}
.pressionado{
    background: black;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0px;
    display: inline-block;
    transition: all.2s;
    position: relative;
    padding: 10px 15px;
    position: relative;
    top:0;
    cursor: pointer;
    margin: 0px;
    margin-right: 0%;
}
.pressionado:active {
    top:3px;
    box-shadow: 0 2px 0px;
    transition: all .2s;

}
.enviar{
    font-size: 25px;
    width: fit-content;
    color: white;
    text-decoration: none;
   
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
}

.botoes {
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
    color: black;

}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.rodape {
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 5px
}

body {

    background-image: url("./fundo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
}

input[type="text"] {
    height: 25px;
    width: 160px;

}

a {
    text-decoration: none;


}

.pesquisa {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    border-radius: 10px;
    /* padding-right: 150px; */
}

@media(max-width:600px) {
    .preenchimento {
        display: flex;
        padding-top: 70px;
        flex-direction: column;
        margin-left: 150px;
        gap: 20px;


    }

    footer {
        background-color: black;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        position: relative;
        bottom: 0px;
        width: 100%;
        top: 1rem;
    }

    h1 {
        font-size: 50px;
    }
    .cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0px;
    width: 100%;
}
.botoes{
    font-size: 20px;
}
.logo{
    width: 110px;
    height: 110px;
}
}