.titulo {
    display: flex;
    justify-content: right;
}

.subtitulo {
    display: flex;
    justify-content: center;
    padding-right: 250px;

}

h1 {
    font-size: 70px;
}

* {
    margin: 0px;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.escritajapones {
    font-size: 60px;
}

.logo {
    display: flex;
}

.botoes {
    font-size: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.rodape {
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px
}

.escritalateral {
    display: flex;
    align-items: flex-end;
    margin-left: 40px;


}

.traducao {
    font-size: 30px;
    padding-bottom: 40px;
    margin-left: 20px;

}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;


}

.cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;

}

.descricao {
    font-size: 50px;
    padding-left: 40px;
    padding-bottom: 100px;


}

body {
    background-image: url("./fundo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media(max-width:600px){
    body{background-color: red;
        
    }
    footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    bottom: 0px;
    width: 120%;
    
}
.cabecario {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0px;
    width: 120%;


}


    
  
}